#tablet{
    width:100%;
}

.heading{
    text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.headiing-1{

    text-align:center;

}
#app{
    width:30%;
    margin-left: 30%;

}


